.block.block-type-gostream .stream-list {
    border-top: 1px solid #eee;
}

.block.block-type-gostream .stream-list li.stream-item {
    padding: 7px 0 10px;
    border-bottom: 1px solid #eee;
}

.block.block-type-gostream .stream-list li.stream-item .author {
    font-weight: bold;
}

.block.block-type-gostream .stream-list li.stream-item .date {
    display: inline-block;
}