.block.block-type-gostream .stream-list li.stream-header-date {
	margin-top: 20px;
	margin-bottom: 10px;
}

.block.block-type-gostream .stream-list li.stream-item {
	min-height: auto;
	padding-bottom: 10px;
	padding-left: 30px;
	margin-bottom: 10px;
	font-size: 11px;
	line-height: 1.4;
}
.block.block-type-gostream .stream-list li.stream-item .avatar {
	width: 24px;
	height: 24px;
}
.block.block-type-gostream .stream-list li.stream-item .info {
	margin-bottom: 5px;
}

.block.block-type-gostream .stream-comment-preview {
	display: none;
}