.block.block-type-gostream .block-update {

}

.block.block-type-gostream .stream-list li.stream-item {
    min-height: auto;
    padding: 0;
    margin-bottom: 15px;
    border: 0;
    line-height: 1.4;
}

.block.block-type-gostream .stream-list li.stream-item > section {
    display: table-cell;
    vertical-align: middle;
}

.block.block-type-gostream .stream-list li.stream-item > section + section {
    padding-left: 10px;
    width: 1000px;
}

.block.block-type-gostream .stream-list li.stream-item p {
    margin-bottom: 3px;
    font-size: 11px;
}

.block.block-type-gostream .stream-list li.stream-item .author {
    color: #4c4c4c;
    text-decoration: underline;
}

.block.block-type-gostream .stream-list li.stream-item .author:hover {
    color: #f00;
}

.block.block-type-gostream .stream-list li.stream-item .date {
    color: #888;
}

.block.block-type-gostream .stream-list li.stream-item .avatar {
    width: 24px;
    height: 24px;
}

.block.block-type-gostream .stream-list li.stream-item .info {
    margin-bottom: 5px;
}

.block.block-type-gostream .stream-comment-preview {
    display: none;
}
